# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
tests/
.vscode/

# Temporarily ignore the foundation paper reading post and images
_posts/2026-05-29-Foundation-Papers-Reading.md
assets/posts/foundation-paper-reading/
