{% include base_path %}

<div class="blog-card">
  <a href="{{ post.url | relative_url }}" class="blog-link-wrapper">
    <div class="blog-content">
      <h2 class="blog-title">
        {{ post.title }}
      </h2>

      <p class="blog-excerpt">
        {% if post.description %}
          {{ post.description }}
        {% else %}
          {{ post.excerpt | strip_html | truncatewords: 30 }} {% endif %}
      </p>

      <p class="blog-meta">
        <span class="meta-item">
          Date: {{ post.date | date: "%B %d, %Y" }}
        </span>
        |
        <span class="meta-item">
          Estimated Reading Time: {{ post.read_time }} min
        </span>
        |
        <span class="meta-item">
          Author: {{ post.author }}
        </span>
      </p>
    </div>
  </a>
</div>