.publication-card {
  background: var(--global-card-color, #ffffff); 
  border: 1px solid var(--global-card-color, #e0e0e0);
  border-radius: 12px;
  padding: 10px; /* 修改这里的值 */
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: box-shadow 0.3s ease;
}

.publication-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}

.publication-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: -2px;
  font-family: "Times New Roman", Times, serif;
}

.publication-title a {
  text-decoration: none;
  color: var(--global-text-color, #2c3e50); 
}

.publication-title a:hover {
  color: var(--global-link-color-hover, #007acc); 
}

.publication-authors {
    font-size: 0.8rem;
    color: var(--global-text-color, #2c3e50); 
    margin-bottom: 2px;
    margin-top: -2px;
    font-family: "Times New Roman", Times, serif;
}

.publication-venue {
    font-size: 0.8rem;
    color: var(--global-text-color, #2c3e50); 
    margin-bottom: 2px;
    margin-top: -2px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.publication-excerpt {
  font-size: 1rem;
  color: var(--global-text-color-light, #555); 
  margin-bottom: 5px;
}

.publication-links a {
  margin-right: 5px;
  font-size: 0.6rem;
  color: var(--global-link-color, #007acc); 
  text-decoration: none;
  margin-top: -2px;
  margin-bottom: 2px;
  border: 1px solid var(--global-link-border-color, #ccc);
  display: inline-block;
  padding: 0px 3px;   // 框内间距: [上下, 左右]
}

.publication-links a:hover {
  text-decoration: underline;
}

.publication-flex-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.publication-image img {
  width: 180px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}